@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Light.eot');
    src: url('SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
        url('SegoeWP-Light.woff2') format('woff2'),
        url('SegoeWP-Light.woff') format('woff'),
        url('SegoeWP-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe WP N';
    src: url('SegoeWPN.eot');
    src: url('SegoeWPN.eot?#iefix') format('embedded-opentype'),
        url('SegoeWPN.woff2') format('woff2'),
        url('SegoeWPN.woff') format('woff'),
        url('SegoeWPN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers CE 45';
    src: url('UniversCE-Light.eot');
    src: url('UniversCE-Light.eot?#iefix') format('embedded-opentype'),
        url('UniversCE-Light.woff2') format('woff2'),
        url('UniversCE-Light.woff') format('woff'),
        url('UniversCE-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial MT';
    src: url('Arial-BoldMT.eot');
    src: url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff'),
        url('Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial MT';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrsEaves';
    src: url('MrsEavesItalic.eot');
    src: url('MrsEavesItalic.eot?#iefix') format('embedded-opentype'),
        url('MrsEavesItalic.woff2') format('woff2'),
        url('MrsEavesItalic.woff') format('woff'),
        url('MrsEavesItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

